# Model checkpoints / weights
*.bin
*.pt
*.safetensors
prompt_injection_model_data/
prompt_injection_model/

# Logs
logs/
runs/

# Python
__pycache__/
*.pyc

# Colab
.ipynb_checkpoints/

# OS
.DS_Store
